<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Mohammed Bouden</h2>
            <h3> Cyber Security Student</h3>
            <h3> Northern Virginia Community College</h3>
            <h4>medpouten@gmail.com</h4>
        </div>
        <img src="assets/images/20543976_2038401499721999_8636936736899924003_o.jpg" alt="Tariq Ahsan">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>